<section class="contacts-list" *ngIf="contacts$ | async as contacts">
  <table
    *ngIf="contacts.length"
    mat-table
    [dataSource]="contacts"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['firstName', 'lastName']"></tr>
    <tr
      mat-row
      *matRowDef="let contact; columns: ['firstName', 'lastName']"
      [ngClass]="{ selected: (selectedContact$ | async)?.id === contact.id }"
      (click)="onSelectContact(contact)"
    ></tr>
  </table>
</section>
